@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}



@*
<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Log in</button>
    </div>
    <div class="form-group">
        <p>
            <a asp-action="ForgotPassword">Forgot your password?</a>
        </p>
    </div>
</form>*@


<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Login Page</h5>
                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-label-group">
                            <label asp-for="Email">Username</label>
                            <input asp-for="Email" type="email" class="form-control" placeholder="Username" required autofocus>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        @*<div class="form-label-group">
                            <label> <a class="text-dark" asp-action="ForgotPassword">Forgot your password?</a></label>
                        </div>*@
                        <br />
                        <div class="btn-dark"></div>
                        <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}



