@model HSHDelivery.Models.AccountViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="border backgroundWhite p-3">
    <div class="row">
        <div class="col-6">
            <h3 class="text-dark">Reset Password</h3>
        </div>
        <div class="col-6 text-right">
            @*<input type="submit" value="บันทึก" class="btn btn-success btn-sm" />*@
            <a asp-action="Index" class="btn btn-dark btn-sm">กลับหน้าหลัก</a>
        </div>
    </div>
    <hr />
    <form asp-action="ResetPassword">
        <div class="form-border">
            <fieldset disabled>
                <div class="row">
                    <div class="col-sm-12">
                        <asp:Label ID="Label2" class="control-label mb-10" runat="server" Text="ชื่อผู้ใช้ (Username)"></asp:Label>
                        @*<asp:Label ID="@Model.Email" class="form-control" runat="server"></asp:Label>*@
                        <input asp-for="Email" class="form-control" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <asp:Label ID="Label5" class="control-label mb-10" runat="server" Text="รหัสผ่าน (Password)"></asp:Label>
                        @*<asp:Label ID="@Model.Password" class="form-control" runat="server"></asp:Label>*@
                        <input asp-for="Code" class="form-control" />
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>
