@using HSHDelivery.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager


<a class="form-control btn btn-outline-success" asp-action="Index">ข้อมูลส่วนตัว</a>
<br /><br />
<a class="form-control btn btn-outline-success" asp-action="ChangePassword">รหัสผ่าน</a>
<br /><br />
